{% extends 'base.html' %}
{% block content %}
    <h1>Set Stock Alert</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.stock_symbol.label(class="form-label") }}
            {{ form.stock_symbol(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
